---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-family: 'Inconsolata', sans-serif;
$base-font-size:   1.7rem;
$base-font-weight: 400;
$base-line-height: 1.55;

$secondary-font-family: 'Barlow Condensed', sans-serif;

$white:            #FFFFFF;
$black:            #000000;
$text-color:       #3F4042;
$background-color: #e5e9f1;
$brand-color:      #5EB087;

$page-border-width: 3rem;
$menu-position: ($page-border-width + 1rem);

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;

$break-small: 576px;
$break-medium: 769px;


// Import Partials
@import
        "normalize",
        "base",
        "typography",
        "forms",
        "layout",
        "utilities",
        "print"
;
