{% unless page.hideFooter %}
<footer>
  <a href="{{page.prevProjectLink}}" class="arrow-prev" aria-label="Previous Project - {{page.prevProjectText}}"><span class="arrow-prev__arrow">&xlarr;</span>&#8470;<span class="u-ml-lv-1">{{page.prevProjectIssue}}</span>
    <p><strong>{{page.prevProjectText}}</strong></p>
  </a>
  <a href="{{page.nextProjectLink}}" class="arrow-next" aria-label="Next Project - {{page.nextProjectText}}">&#8470;<span class="u-ml-lv-1">{{page.nextProjectIssue}}</span><span class="arrow-next__arrow">&xrarr;</span>
    <p><strong>{{page.nextProjectText}}</strong></p>
  </a>
</footer>
{% endunless %}
