    <header class="cf">
        <div class="logo">
            <a href="/"><img src="/img/i-logo.png" alt="ddinsmore.com logo" /></a>
        </div>
        <ul class="nav">
            {% if page.active == "work" %}<li class="current"><a href="/work/wild-flavors">Work</a></li>{% else %}<li><a href="/work/wild-flavors">Work</a></li>{% endif %}
            {% if page.active == "resume" %}<li class="current"><a href="/resume">Resume</a></li>{% else %}<li><a href="/resume">Resume</a></li>{% endif %}
            {% if page.active == "contact" %}<li class="current"><a href="/contact">Contact</a></li>{% else %}<li><a href="/contact">Contact</a></li>{% endif %}
        </ul>
        <div class="print-only">
            <h1 class="name-plate"><span>D</span><span>a</span><span>v</span>id Dinsmore</h1>
            <h2>UI Designer/ Developer </h2>
        </div>
    </header>
