html {
  font-size: 10px;
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  padding: $page-border-width;
  cursor: default;

  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}



// Page Border
.page-border:before, .page-border:after,
.page-border__inner:before, .page-border__inner:after {
  content: "";
  background: $white;
  position: fixed;
  display: block;
  z-index: $z-1;
}
// Page Border Bock
.page-border {
  &:before {
    height: $page-border-width;
    left: 0;
    right: 0;
    top: 0;
  }
  // .page-border__inner:before element
  &__inner:before {
    height: $page-border-width;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:after {
    width: $page-border-width;
    top: 0;
    right: 0;
    bottom: 0;
  }
  // .page-border__inner:after element
  &__inner:after {
    width: $page-border-width;
    top: 0;
    bottom: 0;
    left: 0;
  }
// END .page-border block
}
