// Layout

.issue {
  position: fixed;
  top: .65rem;
  left: $page-border-width;
  font-family: $base-font-family;
  line-height: 1;
  z-index: $z-2;
}


.header {
  position: fixed;
  left: $page-border-width;
  right: $page-border-width;
  bottom: .5rem;
  z-index: $z-2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name, strong {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight-bold;
  }

  &__name {
    font-size: 1.6rem;
    line-height: 1;
    text-transform: uppercase;
  }

  &__title {
    font-family: $base-font-family;
    font-size: 1.3rem;
    font-weight: $base-font-weight;
    text-transform: initial;
  }

  strong {
    font-size: 1.3rem;
    margin: 0.5rem;
  }

// END .header block
}




.container {
  padding: 0 1rem;
  margin: 0 auto;

  @media (min-width: $break-medium) {
    width: 78.5rem;

    p { max-width: 53rem; }

  }
}




.row {
  display: flex;
  flex-direction: column;

  @media (min-width: $break-medium) {
    flex-direction: row;
  }
}
.column-1 { flex: 1; }
.column-2 { flex: 2; }

.row--form {
  justify-content: space-between;

  .col {
    @media (min-width: $break-medium) {
      width: 48%;
      margin-top: 0;
    }

    width: 100%;
    margin-top: 3rem;
  }
}


.resume {
  h1 {
    @media (min-width: $break-medium) {
      padding-bottom: 6rem;
    }
  }

  article { margin-bottom: 7rem; }

  &__info {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  ul {
    list-style-position: outside;
    max-width: 44rem;
    @media (min-width: $break-medium) {
      padding: 0;
    }

    li {
      margin-bottom: .4rem;
    }
  }

  // END resume
}

.unstyled {
  padding: 0;
  list-style-type: none;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 6rem 0 6rem 9rem;

  @media (min-width: $break-small) {
    justify-content: flex-end;
    flex-direction: row;
  }


  &__list {
    padding: 0;
    list-style-type: none;
    font-size: 1.4rem;

    @media (min-width: $break-small) {
      padding-left: 6rem;
    }

    strong {
      font-family: $secondary-font-family;
      font-size: 1.6rem;
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
  // END details
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-feature {
  background: white no-repeat center center;
  background-size: cover;
  padding-top: 72.55%;
  display: block;
  max-width: 1400px;
  margin: 10rem auto 0;

  @media (min-width: $break-medium) {
    margin-top: 10rem;
  }

  &--wild { background-image: url("../img/wild-flavors/wf-feature.jpg"); }
  &--virtual-phone { background-image: url("../img/virtual-phone/vp-feature.jpg"); }
  &--setco { background-image: url("../img/setco/setco-feature.jpg"); }
  &--simple-truth { background-image: url("../img/simple-truth/st-feature.jpg"); }
  &--private-selection { background-image: url("../img/private-selection/ps-feature.jpg"); }
  &--jmc { background-image: url("../img/jmc/jmc-feature.jpg"); }
  &--gensuite { background-image: url("../img/gensuite/gs-feature.jpg"); }
  &--time-savers { background-image: url("../img/time-savers/ts-feature.jpg"); }
  &--fcc { background-image: url("../img/fcc/fcc-feature.jpg"); }
}


.figure-group {
  background-color: $white;
  padding: 5rem 0 10rem;
  text-align: center;
  margin: 0;
}

figure figure { margin: 0; }
figure figure:not(:first-child) {
  margin-top: 5rem;
  @media (min-width: $break-medium) {
    margin-top: 10rem;
  }
}

figcaption {
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 1rem 0 0 0;
}

figcaption strong {
  display: block;
  margin-bottom: 0.25rem;
}




footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.3rem;
    margin: 0;
  }

  .arrow-prev,
  .arrow-next {
    display: inline-block;
    text-decoration: none;
    width: 50%;
    padding: 10rem 0;
    transition: all 0.5s ease;
  }

  .arrow-prev {
    background-color: $background-color;
    text-align: right;
    padding-right: 3rem;

    &__arrow {
      display: inline-block;
      transition: all 0.5s ease;
      transform: translateX(-5px);
    }

    &:hover,
    &:focus {
      background-color: darken($background-color, 3%);

      span { transform: translateX(-15px); }
    }
  }

  .arrow-next {
    background-color: $background-color;
    padding-left: 3rem;

    &__arrow {
      display: inline-block;
      transition: all 0.5s ease;
      transform: translateX(5px);
    }

    &:hover,
    &:focus {
            background-color: darken($background-color, 3%);

      span { transform: translateX(15px); }
    }
  }

  // END Footer
}



.menu {
  position: fixed;
  bottom: $menu-position;
  left: $menu-position;
  font-family: $base-font-family;
  font-size: 2.2rem;
  background-color: $black;
  border: 1px solid $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  z-index: $z-4;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &[aria-expanded="true"] {
    background-color: $white;
    border: 1px solid $white;
    color: $black;
  }
  /* Change Icons */
  &[aria-expanded="false"] .close { display: none; }
  &[aria-expanded="true"] .open { display: none; }

  // END .menu block
}



.overlay {
  background: $black;
  color: $white;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 5rem 2rem 5rem 11rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: $z-3;

  opacity: 0.9;
  transform: translate(0%, 0%);
  /* animate */
  transition: opacity 0.3s ease-in-out, transform 0s ease-in-out;

  // Overlay Hidden = true
  &[aria-hidden='true'] {
    opacity: 0;
    transform: translate(0%, 100%);
  }

  @media (min-width: $break-medium) {
    padding: 5rem 2rem;
    p {
      max-width: 40rem;
    }
  }

  // End .overlay block
}


.main-nav {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
