// Patterns

.pattern {
  position: relative;

  // Wave Pattern
  &--wave:before {
    content: "\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030";
    color: $green;
    font-size: 2rem;
    letter-spacing: 0;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 100%;
    line-height: .5;
    overflow: hidden;
    height: 20px;

    // @2x
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      font-size: 2rem;
      letter-spacing: -0.1rem;
    }

  }
}
