// Print Styles
@media print {
    * {
        background: transparent !important;
        color: $black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }

    // Hidden
    .issue,
    h1 span:before,
    .menu,
    .overlay,
    .img-feature,
    footer {
        display: none;
    }

     // Overrides
    html { font-size: 10px;}
    body { padding: 0; }
    .page-border:before, .page-border:after, .page-border__inner:before, .page-border__inner:after {
        display: none;
    }
    .header {
        position: relative;
        line-height: 2;
        top: 0;
        left: 0;
    }

     // Typography
     h1 { padding: 6rem 0 3rem; }
     .details {
        margin: 3rem 0;
        justify-content: flex-end;
        flex-direction: row;
        &__list {
            font-size: 1.2rem;
            padding-left: 3rem;
            strong {
                font-size: 1.5rem;
            }
        }
    }

    .figure-group,
    figure figure:not(:first-child) {
        padding-top: 1rem;
    }

    .container p,
    article p {
        max-width: 55rem;
    }
}
