






/* Larger than 1024 */
@media only screen and (min-width: 66em) {
    .mobile { display: none !important;}

    header, .container {
        margin: 0 auto;
        padding: 0;
        max-width: 66em;
    }
    header { padding: 4% 0 3% 0; }
    [class*='column-'] { padding-right: 40px; }
    .resume .column-two-thirds { padding-right: 100px;}
}
/* Less than 1024 larger than tablet */
@media only screen and (max-width: 60em) {
    .column-one-third, .column-two-thirds { width: 50%; }
    .resume .column-one-third { width: 33.333333%; }
    .resume .column-two-thirds { width: 66.666666%; }
}
/* Less than tablet larger than mobile */
@media only screen and (max-width: 45em) {
    .column-one-third { width: 60%;}
    .column-two-thirds { width: 40%; }
    .img-hero { padding: 0; }
    footer .column-one-third {
        float: left;
        width: 33.3333333%;
    }
    footer .column-two-thirds {
        float: right;
        width: 66.666666%;
    }
}


/* Mobile */
@media only screen and (max-width: 35em) {

   /* Hidden */
    .desktop, #supersized { display: none !important; }
    .mobile { display: block !important; }

    /* Overrides */
    .wrapper {
        width: 90%;
        float: none;
        margin: 5% 0px 0px 5%;
        padding: 5% 7.5% 0px 5%;
    }
    .work {
        width: 90%;
        margin: 5% 0px 0px 5%;
    }
    header, .container {
        width: 100%;
        padding: 0 10%;
    }
    header { padding: 9% 10% 0px 10%; }
    .logo { float: none;}
    .nav { padding: 30px 0 60px; float: none; margin: 0; }

    section { margin: 0 0 30px 0; }
    .img-hero {
        float: none;
        margin: 0 0 12px 0;
    }
    figure { margin: 0 0 40px 0;}
    figcaption { width: 100%; }
    .pager { padding: 30px 0; }

    /* Grids */
    [class*='column-'] {
      float: none;
      padding-right: 0px;
      padding-bottom: 12px;
      width: 100%;
    }
    .resume .column-one-third { width: 100%; }
    .resume .column-two-thirds { width: 100%; }
    .resume .column-two-thirds { padding-right: 0px;}
    .pager .column-one-half {
        float: left;
        width: 50%;
    }
    footer .column-one-third, .resume footer .column-one-third {
        float: left;
        width: 29%;
    }
    footer .column-two-thirds, .resume footer .column-two-thirds {
        float: right;
        width: 71%;
    }

    footer { padding: 24px 0 12px; }
    footer ul { line-height: 1.4em; }
    footer li { margin-right: 12px; }
}
