// Typography

// Patterns
.pattern {
  position: relative;

  // Wave
  &--wave:before {
    content: "\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030\3030";
    color: green;
    font-size: 2rem;
    letter-spacing: 0;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 100%;
    line-height: .5;
    overflow: hidden;
    height: 20px;

    // @2x
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      font-size: 2rem;
      letter-spacing: -0.1rem;
    }

  }
}



h1, h2 { font-family: $secondary-font-family; }
h1 {
  font-size: 5rem;
  line-height: 1;
  text-transform: uppercase;
  margin: 10rem 0 0 0;
  font-weight: 300;
  letter-spacing: 1.5rem;

  @media (min-width: $break-medium) {
    font-size: 10rem;
    margin-top: 20rem;

    span:before {
      font-size: 2rem;
    }
  }

}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

p { margin: 0 0 2rem 0; }


strong, b {
  font-weight: 700;
}
small {
  font-size: 1.3rem;
}

a { color: inherit; }

.img-fluid {
    max-width: 100%;
    height: auto;
}

// TODO: Rename this - utility class???;
section p {
  max-width: 65rem;
}
